.Home {
  height: 100vh;
  width: 100%;
  color: white;
}

.explore-btn {
  background-color: transparent;
  border-radius: 20px;
  padding: 0px 15px;
  font-size: 1.2rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 9.5%;
  min-width: 120px;
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.nothing {
  font-size: 2rem;
}
